    body {
        margin: 40px;
    }

    .win,
    .lose {
        border: 1px solid;
        margin: 10px auto;
        padding: 15px 10px 15px 50px;
        width: 590px;
        background-repeat: no-repeat;
        background-position: 10px center;
    }

    .win {
        color: #4F8A10;
        background-color: #DFF2BF;
    }

    .lose {
        color: #D8000C;
        background-color: #FFBABA;
    }

    .wrapper {
        border: 49px solid #D8C1A2;
        width: 560px;
        margin: 0 auto;
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(8, 70px);
        grid-template-rows: repeat(8, 70px);
        grid-auto-flow: row;
    }

    .box {
        font-size: 150%;
        background-color: #EADAC9;
        color: #000;
        text-align: center;        
    }

    .box:nth-child(-2n+8),
    .box:nth-child(8)~.box:nth-child(-2n+15),
    .box:nth-child(16)~.box:nth-child(-2n+24),
    .box:nth-child(24)~.box:nth-child(-2n+31),
    .box:nth-child(32)~.box:nth-child(-2n+40),
    .box:nth-child(40)~.box:nth-child(-2n+47),
    .box:nth-child(48)~.box:nth-child(-2n+56),
    .box:nth-child(56)~.box:nth-child(-2n+63)
    {
        background-color: #867766;
        color: #fff;
    }

    .light {
        border: 6px solid rgb(235, 164, 89);
    }

    .dark {
        border: 6px solid #3b352d;
    }

    .light .checker,
    .dark .checker {
        margin-top: 6px;
        margin-left: 6px;
    }